@charset "utf-8";
html{height:100%;min-height:100%;}
body{min-height:100%;background-color:#fff;font-size:1rem;/* position:relative; */color:#596169;font-family: "philosopher-regular","\5FAE\8F6F\96C5\9ED1","Microsoft YaHei",PingHei,"STHeitiSC-Light",STHeiti, Helvetica,Arial,sans-serif;/* padding-bottom:82px; */background-image: url("imag/background.jpg");
		background-position: center 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-o-background-size: cover;
		-moz-background-size: cover;
		-ms-background-size: cover;}

.login-box{padding:2rem;background-color:#fff;box-shadow:1px 2px 16px 0 rgba(0,0,0,.15);border-radius: 4px; overflow: hidden; border-top:4px solid;-webkit-border-image:-webkit-gradient(linear,left top,right top,from(#aa6aff),to(#706dff)) 30 30;border-image:-webkit-gradient(linear,left top,right top,from(#aa6aff),to(#706dff)) 30 30;}
.login-box-title{font-size:1.25rem;font-weight:500;color:#000;margin-bottom:1.5rem;}
.login-form .form-group{margin-bottom:1.25rem;}
.login-form .form-group button.btn{width:100%;height:46px;}
.login-form .form-group .form-control{border-color:#ddd;border-radius:2px;}
.login-form .input-group>.custom-select:not(:first-child),.login-form .input-group>.form-control:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.login-form .input-group>.custom-select:not(:first-child),.login-form .input-group>.form-control:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.login-form .form-group .input-group-text{background-color:#fff;border-radius:2px;border-color:#ddd;color:#314659;}
.login-form .input-group>.input-group-prepend{margin-right:-1px;display:flex;}
.login-form .input-group>.input-group-prepend>.input-group-text{border-top-right-radius:0;border-bottom-right-radius:0;}
.login-form .form-group .btn-link{font-size:.875rem;padding:.75rem 0;text-align:center;display:flex;justify-content:center;}
.login-form .form-group .btn-link:hover{text-decoration:none;}
.login-form .form-group .btn-link a{display:block;border-right:1px solid #ddd;padding:0 .75rem;line-height:1;}
.login-form .form-group .btn-link a:last-child{border-right:0;}